@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Roboto|Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  list-style: none;
  font-family: "Montserrat", "Open Sans", "Merriweather"; }

body {
  background-image: url("https://cdn.pixabay.com/photo/2016/10/22/01/54/wood-1759566_1280.jpg");
  min-height: 100vh; }

.container {
  max-width: 95%;
  min-height: 100vh;
  -webkit-box-shadow: 0 0 5px 1px #eee;
          box-shadow: 0 0 5px 1px #eee;
  display: grid;
  grid-template-areas: "header header" "main aside" "footer footer";
  grid-template-rows: 4.4rem 1fr 3rem;
  grid-template-columns: 4fr 1fr;
  margin-left: auto;
  margin-right: auto; }

.header {
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 4.4em;
  border-bottom: 1px solid #eee; }
  .header .main-text {
    line-height: 4.4rem;
    padding-left: .8rem;
    padding-right: .8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3em;
    text-align: center;
    text-shadow: 1px 1px 2px #bbb;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    font-family: "Montserrat"; }
    .header .main-text:hover {
      text-shadow: -1px -1px 2px #bbb;
      -webkit-transform: translateX(10px) scale(1.13, 1.1);
          -ms-transform: translateX(10px) scale(1.13, 1.1);
              transform: translateX(10px) scale(1.13, 1.1); }
  .header .nav {
    min-width: 21.8rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .header .nav .nav-list {
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
      grid-gap: 1em;
      -ms-flex-line-pack: center;
          align-content: center;
      justify-items: center; }
      .header .nav .nav-list .nav-list-item {
        font-size: 1.2em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-shadow: 0 0 1px #eee;
                box-shadow: 0 0 1px #eee;
        overflow: hidden;
        border-radius: 1.2em;
        position: relative;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out; }
        .header .nav .nav-list .nav-list-item:before, .header .nav .nav-list .nav-list-item:after {
          content: "";
          position: absolute;
          display: block;
          background-color: rgba(238, 238, 238, 0.5);
          height: 0;
          width: 120px;
          -webkit-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          transition: all .3s ease-out;
          z-index: 10; }
        .header .nav .nav-list .nav-list-item:before {
          top: 0; }
        .header .nav .nav-list .nav-list-item:after {
          bottom: 0; }
        .header .nav .nav-list .nav-list-item:hover:before, .header .nav .nav-list .nav-list-item:hover::after {
          height: 1px; }
        .header .nav .nav-list .nav-list-item:hover {
          -webkit-box-shadow: 0 0 1px #eee inset 0 -1px 2px #eee inset 0 1px 2px #eee;
                  box-shadow: 0 0 1px #eee inset 0 -1px 2px #eee inset 0 1px 2px #eee;
          -webkit-transform: scale(0.85, 0.95);
              -ms-transform: scale(0.85, 0.95);
                  transform: scale(0.85, 0.95);
          background-color: rgba(119, 119, 119, 0.1); }
        .header .nav .nav-list .nav-list-item .nav-list-item-link {
          -webkit-box-flex: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          padding-left: 1.5em;
          padding-right: 1.5em;
          line-height: 2.4em; }
  .header .nav_flex_grow {
    font-size: 2em;
    margin-right: auto;
    margin-left: auto; }

.aside {
  grid-area: aside;
  border-left: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.main {
  grid-area: main; }

.block__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em; }
  .block__aside .form_title {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-family: "Roboto";
    letter-spacing: .1rem;
    font-weight: bold;
    cursor: default; }

.form {
  width: 100%; }
  .form .field {
    display: block;
    margin: 0;
    width: 100%;
    margin-bottom: .6rem;
    text-align: center;
    padding-left: .3rem;
    padding-right: .3rem;
    line-height: 1.4rem;
    background: transparent;
    border: none;
    border-radius: .7rem;
    -webkit-box-shadow: 0 0 3px #eee;
            box-shadow: 0 0 3px #eee;
    color: #eee;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s; }
    .form .field:focus {
      -webkit-box-shadow: 0 0 3px #eee, 0 0 6px #bbb;
              box-shadow: 0 0 3px #eee, 0 0 6px #bbb;
      outline: none; }
    .form .field:hover {
      -webkit-transform: scale(1.03);
          -ms-transform: scale(1.03);
              transform: scale(1.03); }

.btn {
  background: transparent;
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  -webkit-box-shadow: 0 0 2px #eee;
          box-shadow: 0 0 2px #eee;
  letter-spacing: .05rem;
  cursor: pointer;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s; }
  .btn:hover {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95); }
  .btn:active {
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85); }

.btn_submit {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  line-height: 1.35rem;
  border-radius: 8px;
  background-color: rgba(238, 238, 238, 0.1); }
  .btn_submit:hover {
    background-color: #eee;
    color: #444; }

.footer {
  grid-area: footer;
  border-top: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.page-index {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  min-width: 100%; }
  .page-index .button-container {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 100%;
    height: 100%;
    display: grid;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    grid-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    position: relative;
    -webkit-animation-name: page_index_button_container;
            animation-name: page_index_button_container;
    -webkit-animation-duration: 7.5s;
            animation-duration: 7.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 3s;
            animation-delay: 3s; }
    .page-index .button-container .page-index-button {
      font-size: 2em;
      letter-spacing: 1px;
      min-width: 19rem;
      font-weight: normal;
      color: #eee;
      padding: 0 5rem;
      line-height: 8rem;
      border-radius: 2rem;
      -webkit-box-shadow: 0 0 3px #eee, 0 3px 4px 1px #666, 0 0 2px #bbb inset;
              box-shadow: 0 0 3px #eee, 0 3px 4px 1px #666, 0 0 2px #bbb inset;
      -webkit-animation-name: page_index_button;
              animation-name: page_index_button;
      -webkit-animation-duration: 3s;
              animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
      .page-index .button-container .page-index-button:hover {
        color: #444;
        font-weight: bolder;
        background-color: rgba(238, 238, 238, 0.8); }
      .page-index .button-container .page-index-button:active {
        -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
                transform: scale(0.9); }
    .page-index .button-container:before, .page-index .button-container:after {
      content: "";
      position: absolute;
      display: block;
      background-color: rgba(238, 238, 238, 0.01);
      border-radius: 1.5em;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 5s;
              animation-delay: 5s; }
    .page-index .button-container:before {
      width: 100%;
      -webkit-animation-name: page_index_button_container_before;
              animation-name: page_index_button_container_before; }
    .page-index .button-container:after {
      height: 100%;
      -webkit-animation-name: page_index_button_container_after;
              animation-name: page_index_button_container_after; }

@-webkit-keyframes page_index_button_container {
  0%, 15% {
    padding-left: 0;
    padding-right: 0; }
  25% {
    padding-left: -.5em;
    padding-right: -.5em; }
  30%, 85% {
    padding-left: 3em;
    padding-right: 3em; }
  75%, 90% {
    padding-left: 3.3em;
    padding-right: 3.3em; }
  100% {
    padding-left: 0;
    padding-right: 0; } }

@keyframes page_index_button_container {
  0%, 15% {
    padding-left: 0;
    padding-right: 0; }
  25% {
    padding-left: -.5em;
    padding-right: -.5em; }
  30%, 85% {
    padding-left: 3em;
    padding-right: 3em; }
  75%, 90% {
    padding-left: 3.3em;
    padding-right: 3.3em; }
  100% {
    padding-left: 0;
    padding-right: 0; } }

@-webkit-keyframes page_index_button_container_before {
  0% {
    top: 0;
    height: 0; }
  25% {
    height: 3em;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  50% {
    height: 0;
    top: 100%;
    -webkit-transform: none;
            transform: none; }
  75% {
    height: 3em;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  100% {
    height: 0;
    top: 0;
    -webkit-transform: none;
            transform: none; } }

@keyframes page_index_button_container_before {
  0% {
    top: 0;
    height: 0; }
  25% {
    height: 3em;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  50% {
    height: 0;
    top: 100%;
    -webkit-transform: none;
            transform: none; }
  75% {
    height: 3em;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  100% {
    height: 0;
    top: 0;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes page_index_button_container_after {
  0% {
    left: 0;
    width: 0; }
  25% {
    width: 3em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  50% {
    width: 0;
    left: 100%;
    -webkit-transform: none;
            transform: none; }
  75% {
    width: 3em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  100% {
    width: 0;
    left: 0;
    -webkit-transform: none;
            transform: none; } }

@keyframes page_index_button_container_after {
  0% {
    left: 0;
    width: 0; }
  25% {
    width: 3em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  50% {
    width: 0;
    left: 100%;
    -webkit-transform: none;
            transform: none; }
  75% {
    width: 3em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  100% {
    width: 0;
    left: 0;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes page_index_button {
  0%, 50%, 100% {
    -webkit-transform: none;
            transform: none; }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); } }

@keyframes page_index_button {
  0%, 50%, 100% {
    -webkit-transform: none;
            transform: none; }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); } }

@media screen and (min-width: 576px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -.75em; }
    .header .nav .nav-list {
      padding-top: .5em; } }

@media screen and (min-width: 992px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0; }
    .header .nav .nav-list {
      padding-top: 0; } }

@media screen and (max-width: 576px) {
  body {
    font-size: 12px; }
    body .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: -1.25em; }
      body .header .nav .nav-list {
        padding-top: .5em; }
        body .header .nav .nav-list .nav-list-item-link {
          padding-right: 1em;
          padding-left: 1em; } }

@media screen and (max-width: 400px) {
  body {
    font-size: 10px; }
    body .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: -1.25em; }
      body .header .nav .nav-list {
        grid-gap: 0;
        padding-top: 0;
        margin-top: -1.8em; }
        body .header .nav .nav-list .nav-list-item {
          font-size: .5em; }
          body .header .nav .nav-list .nav-list-item .nav-list-item-link {
            padding-left: 1em;
            padding-right: 1em; } }
