doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Personal Blog
        link(rel="stylesheet", href="./css/index.css")
    body

        .container
            header.header
                section.main-text.nav_flex_grow
                    a.main-link(href="main.html")
                        h2.main-image-text Luciano Della Savia
            main.page-index
                section.button-container
                    a(href="#").btn.page-index-button.btn_submit Gallery
                    a(href="main.html").btn.page-index-button.btn_submit Entries
                    a(href="#").btn.page-index-button.btn_submit Login
                    a(href="#").btn.page-index-button.btn_submit Register

            footer.footer 
                    p Created by Luciano Agustín Della Savia
                    script document.write('<p>&copy ' + new Date().getFullYear() + '</p>')
            script(src="./js/main.js")